@import url(http://fonts.googleapis.com/css?family=Mako|Open+Sans:300,300italic,400);

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; 
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

body {
	margin: 0;
	font-family: 'Mako', sans-serif;
	color: #333;
	background: whitesmoke;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

header {
	width: 100%;
	height: 60px;
	background: #2c3e50;
}

.logo img {
	height: 30px;
	margin-top: 15px;
}

header nav {
	height: 60px;
	background: #34495e;
}

header nav ul {
	margin: 0;
	padding: 18px 0 0;
	float: right;
	list-style: none;
}

header nav ul li {
	display: inline;
	margin-right: 20px;
}

header nav ul li a {
	font-size: 18px;
	text-decoration: none;
	color: #fff;
}

header nav ul li a:hover {
	text-decoration: none;
}

.content {
	max-width: 620px;
	margin: 0 auto;
	padding: 0 30px;
}

body > .content {
	min-height: 700px;
	background: #fff;
}

footer {
	height: 200px;
}

footer > .content {
	padding-top: 40px;
	padding-bottom: 40px;
}

footer nav ul {
	margin: 0;
	float: right;
	list-style: none;
}

footer nav ul li a {
	font-size: 14px;
	text-decoration: none;
	color: #333;
}

.page-title {
	margin: 0;
	padding: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}

.post-list {
	padding: 0 0 30px;
}

.post-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.excerpt {
	margin: 35px 0;
}

.author-avatar img {
	border-radius: 50%;
}

.excerpt .author-avatar {
	position: absolute;
	width: 40px;
	height: 40px;
}

.excerpt h3 {
	margin: 0 0 0 50px;
	font-size: 16px;
	font-weight: normal;
}

.excerpt .meta {
	margin-left: 50px;
	font-size: 12px;
	color: #9099a7;
}

.excerpt .meta span a, 
.post .meta span a,
ol.notes li a {
	font-style: italic;
	color: #9099a7;
}

.assignment h3 {
	margin: 5px 0;
	font-size: 20px;
	font-weight: normal;
}

.assignment h3:after {
	content: attr(data-tag);
	margin-left: 5px;
	font-size: 14px;
	color: #9099a7;
}

.assignment .meta, 
.assignment .author-avatar {
	display: none;
}

.post {
	padding: 50px 0;
}

.post h2 {
	margin: 0;
}

.post .meta {
	font-size: 14px;
	color: #9099a7;
}

.post p, .about p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.post strong, .about strong {
	font-weight: 400;
}

.post p img {
	max-width: 100%;
}

.buttons {
	padding: 0;
	margin: 20px 0;
}

.buttons li {
	display: inline-block;
	margin-right: 10px;
}

ol.notes {
	padding: 25px 0 0 0;
	border-top: 1px solid lightgrey;
	list-style:none;
}

ol.notes li {
	margin-bottom: 10px;
	font-size: 12px;
	color: #9099a7;
}

ol.notes li img.avatar {
	display: none;
}

.about h3 {
	margin: 0;
}